In [33]:
import pandas as pd
import numpy as np

Cleaning Customer Details

In [34]:
customer_details = pd.read_csv(r'Structured data/customer_details.csv')

In [35]:
customer_details.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [36]:
customer_details.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [37]:
customer_details.duplicated().sum()

0

In [38]:
customer_details.dtypes

Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object

In [39]:
customer_details['Gender'].value_counts()

Male      2652
Female    1248
Name: Gender, dtype: int64

In [40]:
customer_details['Discount Applied'].value_counts()

No     2223
Yes    1677
Name: Discount Applied, dtype: int64

In [41]:
customer_details['Promo Code Used'].value_counts()

No     2223
Yes    1677
Name: Promo Code Used, dtype: int64

In [42]:
customer_details['Age'].unique()

array([55, 19, 50, 21, 45, 46, 63, 27, 26, 57, 53, 30, 61, 65, 64, 25, 52,
       66, 31, 56, 18, 38, 54, 33, 36, 35, 29, 70, 69, 67, 20, 39, 42, 68,
       49, 59, 47, 40, 41, 48, 22, 24, 44, 37, 58, 32, 62, 51, 28, 43, 34,
       23, 60], dtype=int64)

Cleaning Product Details

In [43]:
product_details = pd.read_csv(r'Structured data/product_details.csv')

In [44]:
product_details.head()

,Uniqe Id,Product Name,Brand Name,Asin,Category,Upc Ean Code,List Price,Selling Price,Quantity,Model Number,...,Product Url,Stock,Product Details,Dimensions,Color,Ingredients,Direction To Use,Is Amazon Seller,Size Quantity Variant,Product Description
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",NaN,NaN,Sports & Outdoors | Outdoor Recreation | Skate...,NaN,NaN,$237.68,NaN,NaN,...,https://www.amazon.com/DB-Longboards-CoreFlex-...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",NaN,NaN,Toys & Games | Learning & Education | Science ...,NaN,NaN,$99.95,NaN,55324,...,https://www.amazon.com/Electronic-Circuits-Cla...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,NaN,NaN,Toys & Games | Arts & Crafts | Craft Kits,NaN,NaN,$34.99,NaN,NaN,...,https://www.amazon.com/3Doodler-Plastic-Innova...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,NaN,NaN,Toys & Games | Hobbies | Models & Model Kits |...,NaN,NaN,$28.91,NaN,142,...,https://www.amazon.com/Guillow-Airplane-Design...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,NaN,NaN,Toys & Games | Puzzles | Jigsaw Puzzles,NaN,NaN,$17.49,NaN,62151,...,https://www.amazon.com/Woodstock-Collage-500-p...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [45]:
product_details.isnull().sum()

Uniqe Id                     0
Product Name                 0
Brand Name               10002
Asin                     10002
Category                   830
Upc Ean Code              9968
List Price               10002
Selling Price              107
Quantity                 10002
Model Number              1770
About Product              273
Product Specification     1632
Technical Details          790
Shipping Weight           1138
Product Dimensions        9523
Image                        0
Variants                  7524
Sku                      10002
Product Url                  0
Stock                    10002
Product Details          10002
Dimensions               10002
Color                    10002
Ingredients              10002
Direction To Use         10002
Is Amazon Seller             0
Size Quantity Variant    10002
Product Description      10002
dtype: int64

In [46]:
product_details.drop(columns=['Brand Name','Asin','List Price','Quantity','Sku','Stock','Product Details','Dimensions','Color','Ingredients','Direction To Use','Size Quantity Variant','Product Description'],inplace=True)

In [47]:
product_details.isnull().sum()

Uniqe Id                    0
Product Name                0
Category                  830
Upc Ean Code             9968
Selling Price             107
Model Number             1770
About Product             273
Product Specification    1632
Technical Details         790
Shipping Weight          1138
Product Dimensions       9523
Image                       0
Variants                 7524
Product Url                 0
Is Amazon Seller            0
dtype: int64

In [48]:
product_details.dtypes

Uniqe Id                 object
Product Name             object
Category                 object
Upc Ean Code             object
Selling Price            object
Model Number             object
About Product            object
Product Specification    object
Technical Details        object
Shipping Weight          object
Product Dimensions       object
Image                    object
Variants                 object
Product Url              object
Is Amazon Seller         object
dtype: object

In [50]:
product_details.drop(columns=['Upc Ean Code','Shipping Weight','Product Dimensions','Image'],inplace=True)

In [51]:
Columns_to_fill=['Category','Selling Price','Model Number','About Product','Product Specification','Technical Details','Variants']

In [52]:
product_details[Columns_to_fill] = product_details[Columns_to_fill].fillna('')

In [54]:
product_details.isnull().sum()

Uniqe Id                 0
Product Name             0
Category                 0
Selling Price            0
Model Number             0
About Product            0
Product Specification    0
Technical Details        0
Variants                 0
Product Url              0
Is Amazon Seller         0
dtype: int64

In [60]:
product_details["Selling Price"]

0        237.68
1         99.95
2         34.99
3         28.91
4         17.49
          ...
9997       9.31
9998       6.99
9999      37.95
10000      3.58
10001    152.27
Name: Selling Price, Length: 10002, dtype: object

In [59]:
product_details['Selling Price'] = product_details['Selling Price'].replace('[\$,]', '', regex=True)

In [66]:
product_details['Selling Price'] = product_details['Selling Price'].fillna(0)

In [68]:
def price_to_avg(price_str):
    price_str = price_str.replace('$', '').replace(',', '').strip()
    if '-' in price_str:
        parts = price_str.split('-')
        try:
            low = float(parts[0].strip())
            high = float(parts[1].strip())
            return (low + high) / 2
        except:
            return 0
    else:
        try:
            return float(price_str)
        except:
            return 0

In [69]:
product_details['Selling Price'] = product_details['Selling Price'].apply(price_to_avg)

In [70]:
product_details.to_csv(r'Structured data/product_details_cleaned.csv', index=False)

In [71]:
product_details.dtypes

Uniqe Id                  object
Product Name              object
Category                  object
Selling Price            float64
Model Number              object
About Product             object
Product Specification     object
Technical Details         object
Variants                  object
Product Url               object
Is Amazon Seller          object
dtype: object

Cleaning Sales Data

In [75]:
sales_data= pd.read_csv(r'Structured data/E-commerece sales data 2024.csv')

In [76]:
sales_data.head()

,user id,product id,Interaction type,Time stamp,Unnamed: 4
0,1.0,4c69b61db1fc16e7013b43fc926e502d,purchase,10/10/2023 8:00,NaN
1,2.0,66d49bbed043f5be260fa9f7fbff5957,view,11/10/2023 8:00,NaN
2,3.0,2c55cae269aebf53838484b0d7dd931a,like,12/10/2023 8:00,NaN
3,4.0,18018b6bc416dab347b1b7db79994afa,view,13/10/2023 8:00,NaN
4,5.0,e04b990e95bf73bbe6a3fa09785d7cd0,like,14/10/2023 8:00,NaN

In [82]:
sales_data.isnull().sum()

user id             295
product id          295
Interaction type    423
Time stamp          295
dtype: int64

In [83]:
sales_data.shape

(3294, 4)

In [81]:
sales_data.drop(columns='Unnamed: 4',inplace=True)

In [90]:
sales_data.drop(columns='Time stamp',inplace=True)

In [91]:
sales_data.dtypes

user id             float64
product id           object
Interaction type     object
dtype: object

In [92]:
sales_data.duplicated().sum()

294

In [93]:
sales_data.drop_duplicates(inplace=True)

In [94]:
sales_data.duplicated().sum()

0

In [95]:
sales_data.isnull().sum()

user id               1
product id            1
Interaction type    129
dtype: int64

In [96]:
sales_data = sales_data.dropna(subset=['user id', 'product id'])

In [98]:
sales_data = sales_data.dropna(subset=['Interaction type'])

In [99]:
sales_data.to_csv(r'Structured data/sales_data_cleaned.csv', index=False)

Merge sales with products

In [122]:
df = pd.merge(sales_data, product_details, left_on='product id', right_on='Uniqe Id', how='inner')

In [123]:
df.head(2)

,user id,product id,Interaction type,Uniqe Id,Product Name,Category,Selling Price,Model Number,About Product,Product Specification,Technical Details,Variants,Product Url,Is Amazon Seller
0,1.0,4c69b61db1fc16e7013b43fc926e502d,purchase,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors | Outdoor Recreation | Skate...,237.68,,Make sure this fits by entering your model num...,Shipping Weight: 10.7 pounds (View shipping ra...,,https://www.amazon.com/DB-Longboards-CoreFlex-...,https://www.amazon.com/DB-Longboards-CoreFlex-...,Y
1,2.0,66d49bbed043f5be260fa9f7fbff5957,view,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games | Learning & Education | Science ...,99.95,55324,Make sure this fits by entering your model num...,Product Dimensions: 14.7 x 11.1 x 10.2...,The snap circuits mini kits classpack provides...,,https://www.amazon.com/Electronic-Circuits-Cla...,Y

In [124]:
df['Uniqe Id'].isnull().sum()

0

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2871 entries, 0 to 2870
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user id                2871 non-null   float64
 1   product id             2871 non-null   object
 2   Interaction type       2871 non-null   object
 3   Uniqe Id               2871 non-null   object
 4   Product Name           2871 non-null   object
 5   Category               2871 non-null   object
 6   Selling Price          2871 non-null   float64
 7   Model Number           2871 non-null   object
 8   About Product          2871 non-null   object
 9   Product Specification  2871 non-null   object
 10  Technical Details      2871 non-null   object
 11  Variants               2871 non-null   object
 12  Product Url            2871 non-null   object
 13  Is Amazon Seller       2871 non-null   object
dtypes: float64(2), object(12)
memory usage: 336.4+ KB

In [126]:
df.drop(columns=['Uniqe Id','Model Number',"Variants"],inplace=True)

In [128]:
print(df['Category'].value_counts().head())

                                                                               262
Toys & Games | Games & Accessories | Board Games                               107
Toys & Games | Puzzles | Jigsaw Puzzles                                         92
Toys & Games | Toy Figures & Playsets | Action Figures                          82
Toys & Games | Stuffed Animals & Plush Toys | Stuffed Animals & Teddy Bears     75
Name: Category, dtype: int64

In [129]:
print(df['Interaction type'].value_counts())

like        1145
view         871
purchase     855
Name: Interaction type, dtype: int64

In [131]:
print(df['Selling Price'].describe())

count    2871.000000
mean       38.112860
std       185.580765
min         0.000000
25%         9.485000
50%        15.940000
75%        28.880000
max      5030.900000
Name: Selling Price, dtype: float64

In [132]:
df.groupby('Category')['Selling Price'].mean().sort_values(ascending=False)

Category
Sports & Outdoors | Outdoor Recreation | Skates, Skateboards & Scooters | Inline & Roller Skating | Roller Skates | Roller Derby Skates           5021.440
Sports & Outdoors | Fan Shop | Sports Equipment | Basketball Equipment | Basketballs                                                              5016.210
Sports & Outdoors | Sports & Fitness | Leisure Sports & Game Room | Trampolines & Accessories | Trampolines                                       1844.630
Toys & Games | Sports & Outdoor Play | Play Sets & Playground Equipment | Play & Swing Sets                                                       1608.596
Toys & Games | Hobbies | Remote & App Controlled Vehicles & Parts | Remote & App Controlled Vehicle Parts | Wheels & Tires | Tire & Wheel Sets     749.990
                                                                                                                                                    ...
Toys & Games | Sports & Outdoor Play | Play Sets & Playground Equipment | Parts & Hardware                                                           0.000
Home & Kitchen | Furniture | Kids' Furniture | Chests & Trunks                                                                                       0.000
Toys & Games | Arts & Crafts | Craft Kits | Sand Art                                                                                                 0.000
Toys & Games | Arts & Crafts | Drawing & Painting Supplies | Paints | Finger Paint                                                                   0.000
Video Games | PlayStation 4 | Games                                                                                                                  0.000
Name: Selling Price, Length: 536, dtype: float64

0       False
1       False
2       False
3       False
4       False
        ...
2866    False
2867    False
2868    False
2869    False
2870    False
Name: Selling Price, Length: 2871, dtype: bool

In [163]:
df['Category'] = df['Category'].replace('', 'Unknown')

In [164]:
df.loc[
    (df['Category'] == 'Unknown') & 
    (df['Product Name'].str.contains('plush', case=False, na=False)), 
    'Category'
] = 'Toys & Games | Baby & Toddler Toys | Rattles & Plush Rings'

In [165]:
df.loc[
    (df['Category'] == 'Unknown') & 
    (df['Product Name'].str.contains(' toy', case=False, na=False)), 
    'Category'
] = 'Toys & Games'

In [166]:
df.loc[
    (df['Category'] == 'Unknown') & 
    (df['Product Name'].str.contains(' game', case=False, na=False)), 
    'Category'
] = 'Toys & Games'

In [167]:
df.loc[
    (df['Category'] == 'Unknown') & 
    (df['Product Name'].str.contains(' figure', case=False, na=False)), 
    'Category'
] = 'Toys & Games | Collectible Toys'

In [168]:
df.loc[
    (df['Category'] == 'Unknown') & 
    (df['Product Name'].str.contains(' cards', case=False, na=False)), 
    'Category'
] = 'Toys & Games | Games & Accessories | Card Games'

In [169]:
df.loc[
    (df['Category'] == 'Toys & Games | Games & Accessories | Card Games') & 
    (df['Product Name'].str.contains(' Trading Cards', case=False, na=False)), 
    'Category'
] = 'Toys & Games | Games & Accessories | Card Games | Collectible Card Games'

In [170]:
df.loc[
    (df['Category'] == 'Toys & Games | Games & Accessories | Card Games') & 
    (df['Product Name'].str.contains(' Place Cards', case=False, na=False)), 
    'Category'
] = 'Toys & Games | Party Supplies'

In [175]:
df.loc[
    (df['Category'] == 'Toys & Games | Games & Accessories | Card Games') &
    (
        df['Product Name'].str.contains(' Notecard', case=False, na=False) |
        df['Product Name'].str.contains(' Birthday Card', case=False, na=False) |
        df['Product Name'].str.contains(' Flash Cards', case=False, na=False) |
        df['Product Name'].str.contains('Party', case=False, na=False) |
        df['Product Name'].str.contains(r'\(12/Card\)', case=False, na=False)
    ),
    'Category'
] = 'Toys & Games | Party Supplies'

In [176]:
(df['Category'].str.strip() == 'Unknown').sum()

169

EDA

In [ ]:
#Total sales per category:
df.groupby('Category')['Selling Price'].sum().sort_values(ascending=False)

Category
Toys & Games | Sports & Outdoor Play | Play Sets & Playground Equipment | Play & Swing Sets                                                8042.980
Sports & Outdoors | Sports & Fitness | Leisure Sports & Game Room | Trampolines & Accessories | Trampolines                                5533.890
Sports & Outdoors | Outdoor Recreation | Skates, Skateboards & Scooters | Inline & Roller Skating | Roller Skates | Roller Derby Skates    5021.440
Sports & Outdoors | Fan Shop | Sports Equipment | Basketball Equipment | Basketballs                                                       5016.210
Unknown                                                                                                                                    4254.965
                                                                                                                                             ...
Toys & Games | Sports & Outdoor Play | Play Sets & Playground Equipment | Parts & Hardware                                                    0.000
Home & Kitchen | Furniture | Kids' Furniture | Chests & Trunks                                                                                0.000
Toys & Games | Arts & Crafts | Craft Kits | Sand Art                                                                                          0.000
Toys & Games | Arts & Crafts | Drawing & Painting Supplies | Paints | Finger Paint                                                            0.000
Video Games | PlayStation 4 | Games                                                                                                           0.000
Name: Selling Price, Length: 537, dtype: float64

In [180]:
#Top-selling products:
df.groupby('Product Name')['Selling Price'].sum().nlargest(10)

Product Name
Skywalker Trampolines Mini Trampoline with Enclosure Net                                                                                                             5030.90
Chicago Women's Classic Roller Skates - Premium White Quad Rink Skates                                                                                               5021.44
Spalding NBA Neverflat Indoor/Outdoor Basketball                                                                                                                     5016.21
Gorilla Playsets 01-0006-AP Pioneer Peak Wood Swing Set with Wood Roof, Tire Swing, Clatter Bridge and Tower, Ramp, Slide, Two Swings, Amber                         2599.00
Gorilla Playsets 01-0004-TS-2 Frontier Wooden Swing Set with Sunbrella Canvas Canopy, Timber Shield Posts, Slide and Tire Swing                                      1899.00
Modular Robotics Cubelets Robot Blocks - Code & Construct Educator Pack - STEM Education & Coding Robot, Free Lesson Plans, Ages 4+                                  1734.00
Gorilla Playsets 01-3036-G Malibu Playhouse Wooden Playhouse for Kids, Brown & Green                                                                                 1265.00
Backyard Discovery Woodland All Cedar Wood Playset Swing Set                                                                                                         1179.99
KidKraft McKinley Cedar Wood Swing Set / Playset F24950                                                                                                              1099.99
Swagtron EB-8 Outlaw Fat Tire Electric Bike – Foldable Off-Road Fat eBike 20-inch Wheels with Power Assist, Freehub and Shimano 7-Speed Gear Shifts, Black, Large     799.99
Name: Selling Price, dtype: float64

In [181]:
df.to_csv(r'Structured data\cleaned_sales_products.csv', index=False)